In [2]:
pip install cryptography

Collecting cryptography
  Downloading https://files.pythonhosted.org/packages/b2/26/7af637e6a7e87258b963f1731c5982fb31cd507f0d90d91836e446955d02/cryptography-3.4.7-cp36-abi3-manylinux2014_x86_64.whl (3.2MB)
     |████████████████████████████████| 3.2MB 4.3MB/s
Requirement already satisfied: cffi>=1.12 in /usr/local/lib/python3.7/dist-packages (from cryptography) (1.14.5)
Requirement already satisfied: pycparser in /usr/local/lib/python3.7/dist-packages (from cffi>=1.12->cryptography) (2.20)
Installing collected packages: cryptography
Successfully installed cryptography-3.4.7

In [6]:
from cryptography.fernet import Fernet

key = Fernet.generate_key()

with open('mykey.key', 'wb') as mykey:
    mykey.write(key)

In [7]:
# loading the key


with open('mykey.key', 'rb') as mykey:
    key = mykey.read()

print(key)

b'a7jBRC68hd3N_FqClTweNr0IkqtJDrAUlmwNQFB1FK0='

Encrypting a File

Now that we have the file to encrypt and the encryption key, we will now write a function to utilize these and return the encrypted file:

In [8]:
f = Fernet(key)

with open('/content/grades.csv', 'rb') as original_file:
    original = original_file.read()

encrypted = f.encrypt(original)

with open ('enc_grades.csv', 'wb') as encrypted_file:
    encrypted_file.write(encrypted)

Decrypting a File

In [9]:
f = Fernet(key)

with open('/content/enc_grades.csv', 'rb') as encrypted_file:
    encrypted = encrypted_file.read()

decrypted = f.decrypt(encrypted)

with open('dec_grades.csv', 'wb') as decrypted_file:
    decrypted_file.write(decrypted)

## Complete Object-Oriented Programming Example

In [10]:
class Encryptor():

    def key_create(self):
        key = Fernet.generate_key()
        return key

    def key_write(self, key, key_name):
        with open(key_name, 'wb') as mykey:
            mykey.write(key)

    def key_load(self, key_name):
        with open(key_name, 'rb') as mykey:
            key = mykey.read()
        return key


    def file_encrypt(self, key, original_file, encrypted_file):
        
        f = Fernet(key)

        with open(original_file, 'rb') as file:
            original = file.read()

        encrypted = f.encrypt(original)

        with open (encrypted_file, 'wb') as file:
            file.write(encrypted)

    def file_decrypt(self, key, encrypted_file, decrypted_file):
        
        f = Fernet(key)

        with open(encrypted_file, 'rb') as file:
            encrypted = file.read()

        decrypted = f.decrypt(encrypted)

        with open(decrypted_file, 'wb') as file:
            file.write(decrypted)

In [11]:
encryptor=Encryptor()

mykey=encryptor.key_create()

encryptor.key_write(mykey, 'mykey.key')

loaded_key=encryptor.key_load('mykey.key')

encryptor.file_encrypt(loaded_key, 'grades.csv', 'enc_grades.csv')

encryptor.file_decrypt(loaded_key, 'enc_grades.csv', 'dec_grades.csv')

In [13]:
import pandas as pd

enc_grades_df = pd.read_csv("/content/enc_grades.csv")
enc_grades_df.head()

Empty DataFrame
Columns: [gAAAAABgo_WG9Blld8OsvynRLkfBL1wP-oy5iyWEEIYaQi-PGdmhfgsY0x8CfmCr7Pv2rCilpA-y6Hw8S3v6pvQFNdmF3-sHTpDedjyKls_GYQkkBlQHOqoXOLNf8QRxyBs7YjlyXvAAtMSVDE3wblZFBgY4Z-0m9_lyNU1almd6GjslLM_le2gRwmRd3g63Wd21CQURrFYK_-EYsC4Uxq4D4a8ZDZYUMeLwgbMKpHDs4EgWl59XxAOtvKzqtQ9O6IMq6Nhm7trh8lwh75Y9UM2oJavF5XiNXA==]
Index: []

In [14]:
dec_grades_df = pd.read_csv("/content/dec_grades.csv")
dec_grades_df.head()

   student_id first_name last_name  grade
0        1221       John     Smith     86
1        1222      Erica     Write     92
2        1223       Will  Erickson     74
3        1224   Madeline      Berg     82
4        1225       Mike     Ellis     79